<h1><%=@blogs.title %></h1>
<h2><%=@blogs.content %></h2>
<p><%= link_to 'Back to all blogs', blogs_path%></p>
<%= link_to 'Delete Blog', delete_blog_path(@blogs), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this blog?'} %>